.container-header{
    width: 1514px;
    height: 89px;
    gap: 0px;
    opacity: 0px;
    

}

.navbar-brand{
position:absolute;
width: 320px;
height: 49px;
top: 20px;
left: 55px;
gap: 0px;
opacity: 0px;

}


.banner{
    background-image: url('images/cloud apps 1.png'); /* Path to your background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
}

.content{
position: absolute;
width: 680px;
height: 193.78px;
top: 275.43px;
left: 76px;
gap: 0px;
opacity: 0px;
color: white;
font-size: 30px;
}

.container-fluid-search{
position: relative;
width: 610px;
height: 54.38px;
top: 150.2px;
left: 30px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 4px;
}

.content2{
position: absolute;
width: 1440px;
height: 350px;
top: 988px;
left: 35px;
gap: 0px;
opacity: 0px;
background-color: rgb(255, 255, 255);

}

.content2_1{
    position: absolute;
    width: 1131px;
    height: 162px;
    top: 988px;
    left: 195px;
    gap: 0px;
    opacity: 0px;
    background-color:rgb(255, 255, 255);
    
    
}

.content2_2{
    position: absolute;
    width:1440px;
    height: 100px;
    top: 1200px;
    left: 35px;
    gap: 0px;
    opacity: 0px;
    background-color:rgb(255, 255, 255);
    
    
}

.content2_1 p{
font-family: Cairo;
font-size: 60px;
font-weight: 900;
line-height: 48.95px;
letter-spacing: 0.05em;
text-align: center;
color: #000000;
margin-top: 50px;

}

.content2_2 p{
font-family: Cairo;
font-size: 34px;
font-weight: 300;
line-height: 30.26px;
letter-spacing: 0.05em;
text-align: center;
color:#737373;

}

.content3{
position: absolute;
width: 1440px;
height: 377px;
top: 1300px;
left: 65px;
gap: 0px;
opacity: 0px;

display: flex; /* This makes the container a flex container */
flex-direction: row;
}
.item {
    /* Some styling for the items */
    
    width:450px;
    padding:3px;
    margin:6px;
    background-color: #d4f5f3;
  }
  .top{
    padding: 40px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Cairo;
font-size: 34px;
font-weight: 900;
line-height: 34px;
letter-spacing: 0.05em;
text-align: left;

  }

  .bottom{
    padding:40px;
font-family: Cairo;
font-size: 21px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0.05em;
text-align: left;

  }

  .content4{
    position:absolute;
    width: 552px;
height: 49px;
top: 1826px;
left: 500px;
gap: 0px;
opacity: 0px;
font-family: Cairo;
font-size: 75px;
font-weight: 300;
line-height: 48.95px;
letter-spacing: 0.34em;
text-align: center;

  }

  .content5{
display: flex; /* This makes the container a flex container */
flex-direction: row;
position:absolute;
width: 1505px;
height: 3015px;
top: 2019px;
left: 3px;
gap: 0px;
opacity: 0px;
}

  .item5 {
    /* Some styling for the items */
    
    width:750px;
    padding:3px;
    margin:6px;
    
  }

  .top5{
    padding:5px;
    font-family: Cairo;
font-size: 55px;
font-weight: 900;
line-height: 48.95px;
letter-spacing: 0.05em;
text-align: left;

  }

  .explore {
    position: absolute;
    width: 199px;
    height: 55px;
    top: 400px;
    left: 232px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #7d12d5;
    
    border-radius: 12px;
    text-align: center;
  }
  
  .btn {
    text-align: center;
    color: rgb(255, 255, 255);
  }



  .cloud-capability{
display: inline-block;
position: absolute;
width: 1505px;
height: 123px;
top: 2700px;
left: 3px;
gap: 0px;
opacity: 0px;

  }
.clients{
    position: absolute;
    width: 1200px;
height: 1000px;
top: 3000.07px;
left: 157px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;



}
.clients_heading{
    
    align-items: center;
    padding-left: 100px;
    font-family: Cairo;
font-size: 34px;
font-weight: 300;
line-height: 30.26px;
letter-spacing: 0.34em;
text-align: center;

color: #575757;
}
.reviews{
position: absolute;
width: 1199px;
height: 700px;
top: 105px;
left: 20px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;


}

.reviews_top,
.reviews_bottom {
  display: flex;
  flex-direction: row;
  color: #000000;
  
}
.review_flexbox {
  width: 350px;
  height: 375px;
  border: 1px solid black; /* Assuming you want a solid black border */
  margin: 20px;
  border-radius: 12px;
  background-color: #fdfdfd;
  padding: 20px;

}

.group_logo{
    position: relative;
    align-items: center;
    margin:40px;
    padding:10px;
}

.CTO{
font-family: Cairo;

font-size: 10px;
align-items: center;
text-align: center;


}
.callback{
position: absolute;
width: 783px;
height: 192px;
top: 4100px;
left: 376px;
gap: 0px;
border-radius: 13px 0px 0px 0px;
opacity: 0px;

}

.callback_title{
font-family: Cairo;
font-size: 68px;
font-weight: 900;
line-height: 60.52px;
letter-spacing: 0.05em;
text-align: center;

}


.callback_button{
    position: relative;
    width:280px;
    height: 60px;
    top: 50px;
    left: 250px;
    gap: 0px;
    border-radius: 13px ;
    border: 1px 0px 0px 0px;
    background-color: rgb(127, 237, 245);
    

}

.footer_all{
position: absolute;
width: 1512px;
height: 600px;
top: 4500px;


display: flex;
flex-direction: row;

background-color: rgb(235, 236, 237)

}
.footer_review_flexbox1{
    position: absolute;
    width: 700px;
    height: 250px;
    top: 20px;
    left:40px;
    display: inline-block;
    margin: 50px;
}
.logo5 {
    margin-bottom: 20px; /* Adjust the value as needed */
  }
.tag_line{
    margin-bottom: 20px;
  }

  .newsletter1{
    color:#000000
  }

  .footer_review_flexbox2{
    position:absolute;
    width: 700px;
    height: 250px;
    top: 40px;
    left:800px;
    margin-left: 40px;
  }

  .footer_review_flexbox2 h3{
    position: absolute;
   margin-top: 10px;
    font-family: Cairo;
font-size: 34px;
font-weight: 300;
line-height: 30.26px;
letter-spacing: 0.05em;
text-align: left;
margin-bottom: 20px;
padding: 5px;

  }

  .footer_review_flexbox2 h4{
    margin-top: 80px;
  }

  .footer_images{
 margin-top: 60px;
  }

  .footer_socialmedia2{
    margin-left: 70px;
  }
  .footer_socialmedia3{
    margin-left: 70px;
  }

.footer_bottom{
    position: absolute;
width: 1512px;
height: 250px;
top: 350px;

}
.about_us{
    position: absolute;
    width:600px;
    height:250px;
    margin-left: 50px;
    margin-top: 30px;
}

.about_us h4{
    margin-top: 50px;
    font-family: Cairo;
font-size: 21px;
font-weight: 300;
line-height: 18.69px;
letter-spacing: 0.05em;
text-align: left;

}
.services_footer{
    position: absolute;
    width:300px;
    height:250px;
    margin-top: 30px;
    margin-left: 675px;
    
}

.services_footer h4{
    
}